name: NBA API REST CI
on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs: 
  build:
    strategy:
      matrix:
        node-version: [14.x, 16.x]
        mongodb-version: ['4.4']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js Version ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Use MongoDB from Github actions
        uses: supercharge/mongodb-github-action@1.7.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
        
      - name: Install Dependencies
        run: npm install

      - name: Run tests
        run: npm test